.product-view{
    /* border: 1px dashed grey; */
    margin-bottom: 20px;
}
.div1{
    /* border: 1px dashed grey; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.div2{
    /* border: 1px dashed grey; */
    width: 65%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
.div3{
    /* border: 1px dashed grey; */
    width: 32%;
    height: 1100px;
}
.div4{
    /* border: 1px dashed grey;  */
    /* height: 400px; */
}
.div5{
    /* border: 1px dashed grey; */
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.div6{
    /* border: 1px dashed grey; */
    background-color:#efefef;
    width: 83%;
    height: 100%;
}
.div7{
    /* border: 1px dashed grey; */
    background-color:#efefef;
    height: 120px;
    margin-bottom: 15px;
    cursor: pointer;
}
.div8{
    font-size: 30px;
    font-weight: 500;   
}
.div9{
    font-size: 15px; 
    font-weight: 500;
    color: #686868;
    margin-bottom: 10px;
}
.div10{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.div11{
    display: flex;
    margin-bottom: 30px;
}
.div12{
    height: 90px;
    width: 90px;
    /* border: 1px dashed grey; */
    margin-right: 10px;
    background-color: #efefef;
    cursor: pointer;
}
.div13{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}
.div14{
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 350px;
    /* border: 1px dashed green; */
}
.div15{
    width: 100px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    display: flex;
    align-items:center; 
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    color: #363636;
}
.div15:hover{
    border: 1px solid #ff9169;
    /* background-color:#ff9169 ; */
    /* color: white; */
    transition: 200ms;
}
.div16{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 325px;
    height: 50px;
    border-radius: 10px !important;
    color: white !important;
    font-weight: 600 !important;
    background-color: #5840BA !important;
    cursor: pointer !important;
    text-transform: inherit !important;
    margin-bottom: 30px !important;
}
.div17{
    width: 325px ;
    margin-bottom: 40px;
    font-weight: 500;
    color: #686868;
    border-bottom: 2px solid grey;
    width: 165px;
    cursor: pointer;
}
.div18{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 70px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.div18:last-child{
    border-top: 0;
}
.div19{
    font-weight: 500 ;
    color: #343434 ;
    font-size: 18px ;
}
.div20{
    /* border: 1px dashed grey; */
    margin-left: auto !important;
}