.about-page {
    min-height: 100vh;
    width: 1300px;
    margin: auto;
}
.about-section {
    /* border: 1px dashed grey; */
    margin-bottom: 70px;
}
#about1{
    display: flex;
    justify-content: space-between;
    height: 580px;
    padding-top: 100px;
}
#about2{
    margin-bottom: 80px;
}
#abt-side1{
    /* border: 1px dashed grey; */
    width: 34%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
#abt-side1 > h1 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 26px;
}
#abt-side1 > div {
    font-size: 18px;
    color: #5c5c5c;
    margin-bottom: 26px;
    /* font-weight: 500; */
}
#abt-side1 > button {
    text-transform: none;
    height: 45px;
    width: 130px;
    font-weight: 700;
    font-size: 15px;
    transform: scale(1.1);
    margin-left: 5px;
    background-color: #FC5E3B;
    color: white;
    border: 0;
    border-radius: 5px;
}
#abt-side1 > button:active {
    background-color: #db5335;
}
#abt-side2{
    background-color: #f1f1f1; 
    width: 57%;
    border-radius: 10px;
    
}
#abt-side2 > div {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#abt-side2 > div > div{
    width: 38px;
    height: 38px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.217);
    cursor: pointer;
}
#abt-side2 > div > div:active{
    background-color: #f1f1f1
}
#about2 > h1{
    font-size: 30px;
    margin-bottom: 40px;
}
#about2 > div {
    /* border: 1px dashed grey; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}
#about2 > div > div {
    /* border: 1px dashed red; */
    width: 400px;
    padding-left: 25px;
    user-select: none;
    cursor: grab;
}
.about2-card-icon{
    /* border: 1px dashed grey;  */
    font-size: 50px !important;
    color: #FC5E3B;
    margin-bottom: 20px;
}
#about2 > div > div > h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
}
#about2 > div > div > div {
    font-size: 17px;
    /* font-weight: 500; */
    color: #646464;
    line-height: 23px;
}
#about3 {
    /* border: 1px dashed grey; */
    display: flex;
    height: 550px;
    
}
.abt3-side{
    /* border: 1px dashed grey; */
    width: 50%;
    height: 100%;
}
.abt3-side > h1 {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
}
.abt3-side > img {
    width: 90%;
    object-fit: cover;
    margin-right: 10px;
}
.about3-card{
    display: flex;
    margin-bottom: 30px;
}
.abt3-details{
    width: 90%;
}
.abt3-details > h1 {
    font-size: 24px;
}
.abt3-details > div {
    font-size: 16px;
    line-height: 27px;
}
.abt3-bullet {
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FC5E3B;
    font-weight: 700;
    color: white;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.378); */
    margin-right: 20px;
    margin-top: 0px;
}
