.home {
    border: 0px;
    --padding-home: 100px; 
    /* padding-left: var(--padding-home);
    padding-right: var(--padding-home); */
    --home-width : 950px;
    --label-color: #808080; 
    margin-bottom: 20px;
}

