.navbar{
    /* border: 1px dashed grey; */
    --nav-color : #424242;
    --nav-focus : #FC5E3B; 
    z-index: 999;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar1{
    display: flex;
    height: 70px;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
.navbar-shadow{
    /* transition: box-shadow 1s ease-in-out; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.131);
}
.nav-logo{
    /* border: 1px dashed grey; */
    margin-right: 30px;
    text-decoration: none;
}
.nav-logo > h1{
    font-weight: 400;
    color: black;
}
.nav-tab{
    margin-right: 40px;
    text-decoration: none;
    font-weight: 500;
    color: var(--nav-color);
}
.nav-tab:nth-child(2){
    border-left: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 30px;
}

.nav-tab:last-child{
    margin-right: 100px;
}
.nav-cart{
    margin-right: 10px;
    color: var(--nav-color);
    cursor: pointer;
}
.nav-administrator{
    color: var(--nav-color); 
    cursor: pointer;
}
.nav-tab:active{
    color: var(--nav-focus); 
}
.nav-tab:focus{
    color:var(--nav-focus)
}
.nav-right-area{
    /* border: 1px dashed grey; */
    width: 300px;
    height: 50px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav-right-area > div{
    display: flex;
    width: 100;
    margin-left: auto;
}
.nav-right-btn{
    /* border: 1px dashed grey; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 7px;
    display: flex;
    font-weight: 500;
    cursor: pointer;
}
.nav-right-btn:first-child{
    color : var(--nav-focus)
}
.nav-right-btn:last-child{
    background-color: var(--nav-focus);
    color: white;
    padding-right: 20px;
}
.btn-icon:first-child{
    /* border: 1px dashed grey; */
    margin-right: 5px;
}