.mid-section{
    max-width:var(--home-width);
    margin: auto;
    --mid-s3-height : 430px; 
    /* margin-top: 30px; */
    margin-bottom: 40px;
}
.mid-section-cards{
    display: flex;
    justify-content: space-between;
}
.mid-section-card{
    border-radius: 7px;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
